form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

.mine {
  font-weight: bold;
}

body{
  background-color: bisque;
  text-align: center;
}

.top{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
